.about-us {
  margin-bottom: 55px;

  @media #{$tablet} {
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    margin-bottom: 68px;
  }
}

.about-us__wrapper {
  width: 260px;
  margin: 0 auto;

  @media #{$tablet} {
    width: 668px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 1050px;
    padding-right: 0;
    padding-left: 175px;
  }
}

.about-us__title {
  padding-top: 28px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $titles-color;
  margin-bottom: 2px;

  @media #{$tablet} {
    font-size: 43px;
    line-height: 50px;
    padding-top: 10px;
    margin-bottom: 18px;
  }

  @media #{$desktop} {
    font-size: 53px;
    line-height: 57px;
    padding-top: 20px;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.about-us__item {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 83px;

  @media #{$tablet} {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.about-us__icon {
  position: absolute;
  fill: $green;
}

.about-us__icon-eco {
  width: 32px;
  height: 37px;
  top: 29px;
  left: 8px;

  @media #{$tablet} {
    order: 1;
  }
}

.about-us__icon-scandinavian {
  width: 47px;
  height: 27px;
  top: 30px;

  @media #{$tablet} {
    order: 3;
  }
}

.about-us__icon-likes {
  width: 34px;
  height: 27px;
  top: 35px;
  left: 8px;

  @media #{$tablet} {
    order: 5;
  }
}

.about-us__icon-hands {
  width: 35px;
  height: 34px;
  top: 30px;
  left: 3px;

  @media #{$tablet} {
    order: 2;
  }
}

.about-us__icon-support {
  width: 55px;
  height: 23px;
  top: 30px;
  left: -7px;

  @media #{$tablet} {
    order: 4;
  }
}

.about-us__icon-pack {
  width: 33px;
  height: 32px;
  top: 32px;

  @media #{$tablet} {
    order: 6;
  }
}

