.button {
  border: 2px solid $button-border;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
  padding-top: 15px;
  padding-bottom: 13px;
  transition: 0.3s ease;
  background-color: $button-bg-color;
  cursor: pointer;
}

.button:hover {
  color: $button-color--hover;
  background-color: $button-bg-color--hover;
}

.button:active {
  color: $button-color--active;
}

.button--green {
  color: $white;
  background-color: $green;
  border: 0;
}

.button--green:hover {
  background-color: $link-green;
}
