.catalog {
  margin-top: 30px;

  @media #{$tablet} {
    margin-top: 80px;
  }

  @media #{$desktop} {
    margin-top: 128px;
  }
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;

  @media #{$tablet} {
    width: 668px;
  }

  @media #{$desktop} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media #{$tablet} {
    margin-bottom: 50px;
  }
}
