.catalog {
  margin-top: 30px;
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__item {
  margin-bottom: 30px;
}

// tablet
@media (min-width: 768px) {
  .catalog {
    margin-top: 80px;
  }

  .catalog__wrapper {
    width: 668px;
  }

  .catalog__item {
    margin-bottom: 50px;
  }
}

// desktop
@media (min-width: 1150px) {
  .catalog {
    margin-top: 128px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
  }
}
