.contacts {
  margin-top: 38px;
  margin-bottom: 38px;
}

.contacts__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto 35px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 27px;
}

.contacts__item {
  display: flex;
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts__parameter {
  width: 78px;
  flex-shrink: 0;
}

.contacts__value {
  margin: 0;
}

.contacts__value--link {
  position: relative;
  color: #444444;
  transition: 0.3s ease;
}

.contacts__value--link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #63d1bb;
}

.contacts__map {
  margin: 0 auto 39px;
  width: 320px;
  height: 457px;
  background-color: #e9e2d7;
}

.contacts__map-img--tablet,
.contacts__map-img--desktop {
  display: none;
}

.contacts__write-us {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.contacts__value--link:hover {
  color: #46c1ae;
}

.contacts__value--link:active {
  opacity: 0.3;
}

// tablet
@media only screen and (min-width: 768px) {
  .contacts__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    margin-bottom: 28px;
  }

  .contacts__wrapper::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 2px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
    padding-right: 60px;
    margin-bottom: 50px;
  }

  .contacts__item {
    font-size: 17px;
    width: 50%;
    line-height: 30px;
  }

  .contacts__map {
    width: 768px;
    margin-bottom: 55px;
  }

  .contacts__map-img--mobile,
  .contacts__map-img--desktop {
    display: none;
  }

  .contacts__map-img--tablet {
    display: block;
  }

  .contacts__write-us {
    width: 230px;
  }
}

// desktop
@media only screen and (min-width: 1150px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 70px auto 105px;
  }

  .contacts__wrapper {
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding-left: 175px;
    margin-bottom: 52px;
    padding-right: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 70px;
  }

  .contacts__item {
    width: 307px;
  }

  .contacts__wrapper::after {
    top: 63px;
    left: 63px;
  }

  .contacts__map {
    width: 525px;
    margin-bottom: 0;
    background-image: url("../img/map-desktop@1x.jpg");
  }

  .contacts__map-img--mobile,
  .contacts__map-img--tablet {
    display: none;
  }

  .contacts__map-img--desktop {
    display: block;
  }

  .contacts__write-us {
    margin-top: -58px;
    margin-right: 0;
    margin-left: 175px;
  }
}
