.form__wrapper {
  padding-bottom: 10px;

  @media #{$tablet} {
    padding-top: 52px;
    padding-bottom: 25px;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
  }
}

.form__title {
  display: flex;
  flex-grow: 0;
  margin-bottom: 24px;
  margin-top: 0;
  color: $green;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;


  @media #{$tablet} {
    display: block;
    flex-shrink: 0;
    width: 167px;
    padding-top: 15px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 175px;
    padding-left: 60px;
  }
}

.form__title::after {
  content: "";
  align-self: center;
  flex-grow: 2;
  height: 1px;
  width: 5px;
  background-color: $green;
  margin-left: 20px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media #{$tablet} {
    width: 668px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: 1050px;
  }
}

.form__fieldset-inner {
  display: flex;
  flex-direction: column;
}

.form__checkbox-label,
.form__label,
.form__radio-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
  cursor: pointer;

  @media #{$tablet} {
    font-size: 19px;
  }
}

.form__radio-label,
.form__checkbox-label {
  position: relative;
  box-sizing: border-box;
  min-height: 38px;
  padding-top: 11px;
  padding-left: 63px;

  @media #{$tablet} {
    min-height: 52px;
    padding-top: 14px;
    padding-left: 81px;
    margin-bottom: 22px;
  }
}

.form__radio-label::before,
.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
  border: 2px solid $text-color;
  transition: border-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;

  @media #{$tablet} {
    width: 52px;
    height: 52px;
    top: -3px;
  }
}


.form__checkbox-label {
  margin-bottom: 23px;

  @media #{$tablet-only} {
    width: 237px;
  }

  @media #{$desktop} {
    width: 262px;
    padding-top: 10px;
  }
}

.form__checkbox-label:nth-of-type(odd) {
  @media #{$tablet-only} {
    margin-right: 25px;
  }
}

.form__radio-label {
  margin-bottom: 13px;

  @media #{$tablet} {
    margin-bottom: 24px;
  }
}

.form__radio-label::before {
  border-radius: 50%;
}

.form__radio-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16.5px;
  height: 16.5px;
  background-color: #62d1ba;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;

  @media #{$tablet} {
    left: 15px;
    width: 22px;
    height: 22px;
  }
}

.form__radio-label:hover.form__radio-label::before,
.form__checkbox-label:hover.form__checkbox-label::before {
  border-color: #62d1ba;
}

.form__radio-label:active.form__radio-label::before,
.form__checkbox-label:active.form__checkbox-label::before {
  border-color: rgba($dark-gray, 0.3);
}

.form__radio-label:active.form__radio-label::after {
  opacity: 1;
}

.form__input:checked + .form__radio-label::after,
.form__input:checked + .form__checkbox-label::after {
  opacity: 1;
}

.form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 18px;
  height: 8px;
  border: 2px solid $dark-gray;
  border-top-style: none;
  border-right-style: none;
  border-radius: 1px;
  opacity: 0;
  transform: rotate(-45deg);

  @media #{$tablet} {
    left: 12px;
    width: 28px;
    height: 13px;
    border-width: 3px;
  }

  @media #{$tablet} {
    top: 9px;
  }
}

.form__radio-label:last-of-type {
  margin-bottom: 24px;
}

.form__checkbox-label:last-of-type {
  margin-bottom: 24px;
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 3px;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.form__wrapper--gray {
  @media #{$tablet} {
    background-color: $light-gray;
  }
}

.form__fieldset-inner--collumns {
  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__wrapper--name {
  @media #{$tablet} {
    padding-bottom: 21px;
  }
}

.form__label {
  margin-bottom: 2px;

  @media #{$tablet} {
    padding-top: 13px;
    margin-right: 25px;
  }

  @media #{$desktop} {
    padding-top: 10px;
    padding-left: 2px;
  }
}

.form__field {
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $black;
  transition: border-color 0.3s ease;

  @media #{$tablet} {
    font-size: 19px;
    line-height: 18px;
    width: 100%;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  @media #{$desktop} {
    width: 700px;
    padding-bottom: 14px;
  }
}

.form__field--phone {
  margin-bottom: 34px;

  @media #{$tablet} {
    margin-bottom: 27px;
  }

  @media #{$desktop} {
    margin-bottom: 30px;
  }
}

.form__field--email {
  padding-bottom: 15px;
}

.form__field::placeholder {
  color: rgba(68, 68, 68, 0.3);
  letter-spacing: 0.3px;
}

.form__title--phone,
.form__title--email,
.form__title--textarea {
  cursor: pointer;
}

.form__title--phone,
.form__title--email {
  margin-bottom: 8px;
}

.form__input-wrapper {
  position: relative;

  @media #{$tablet} {
    width: 500px;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.form__icon {
  position: absolute;
  fill: #c1c1c1;
  transition: fill 0.3s ease;
}

.form__icon--phone {
  width: 25px;
  height: 25px;
  top: 7px;
  right: 10px;

  @media #{$tablet} {
    right: 25px;
  }

  @media #{$desktop} {
    right: 9px;
    top: 8px;
  }
}

.form__icon--email {
  width: 32px;
  height: 32px;
  top: 9px;
  right: 6px;

  @media #{$tablet} {
    right: 21px;
  }

  @media #{$desktop} {
    right: 4px;
    top: 7px;
  }
}

.form__textarea {
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  height: 140px;
  font-size: 17px;
  line-height: 18px;
  padding: 13px 16px;
  border: 2px solid $black;
  outline: 0;
  transition: border-color 0.3s ease;

  @media #{$tablet} {
    font-size: 19px;
    width: 100%;
  }

  @media #{$desktop} {
    width: 700px;
  }
}

.form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__note {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px;

  @media #{$tablet} {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 5px;
    margin-left: 40px;
    margin-top: 0;
  }
}

.form__send {
  width: 100%;
  margin-top: 31px;

  @media #{$tablet} {
    flex-shrink: 0;
    order: -1;
    width: 233px;
    margin-top: 0;
  }
}

.form__field:hover,
.form__textarea:hover {
  border-color: #62d1ba;
}

.form__field:focus,
.form__textarea:focus {
  border-color: #62d1ba;
}

.form__field:hover + .form__icon {
  fill: #62d1ba;
}

.form__field:active + .form__icon {
  fill: #62d1ba;
}

.form__footer {
  @media #{$tablet} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 668px;
    margin: 28px auto 0;
  }

  @media #{$desktop} {
    width: 700px;
    margin: 25px auto 0;
  }
}

.form__title--name {
  @media #{$mobile-only} {
    margin-bottom: 30px;
  }
}
