.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid $border-gray;

  @media #{$tablet} {
    flex-direction: row;
  }

  @media #{$desktop} {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;
  }
}

.item:nth-of-type(3n) {
  @media #{$desktop} {
    margin-right: 0;
  }
}

.item__img-link {
  background-color: $light-gray;
  line-height: 0;

  @media #{$tablet-only} {
    width: 334px;
  }
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 5px;

  @media #{$tablet} {
    padding-right: 30px;
  }

  @media #{$tablet-only} {
    width: 50%;
  }
}

.item__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 24px;
  }
}

.item__title-link {
  display: block;
  color: $titles-color;
  padding-top: 27px;
  padding-bottom: 7px;
  transition: color 0.3s ease;
}

.item__parameters {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 20px;

  @media #{$tablet} {
    font-size: 15px;
  }
}

.item__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-gray;
  min-height: 65px;
  margin-top: auto;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  color: $titles-color;
  font-weight: 700;

  @media #{$tablet} {
    font-size: 17px;
  }

  @media #{$tablet-only} {
    padding-left: 3px;
  }
}

.item__icon {
  fill: rgba($black, 0.2);
  transition: fill 0.3s ease;
}

.item__wrapper:hover {
  box-shadow: 0 6px 10px 0 rgba($black, 0.1);
}

.item__wrapper:active {
  box-shadow: 0 3px 5px 0 rgba($black, 0.1);
}

.item__title-link:hover {
  color: $link-color--hover;
}

.item__title-link:active {
  color: $link-color--active;
}

.item__basket:hover .item__icon {
  fill: $green;
}

.item__basket:active .item__icon {
  fill: rgba($green, 0.3);
}
