.main-nav {
  width: auto;

  @media #{$tablet} {
    height: 148px;
  }
}

.main-nav__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media #{$tablet} {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: 1050px;
    margin: 0 auto;
  }
}

.main-nav__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
  transition: opacity 0.3s ease-in;

  @media #{$tablet} {
    align-self: flex-start;
  }

  @media #{$desktop} {
    order: 2;
    margin-top: 9px;
  }
}

.main-nav__logo-image {
  display: block;
  margin: 0 auto;
}

.main-nav__toogle {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  right: 29px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  border: 0;

  @media #{$tablet} {
    display: none;
  }
}

.main-nav--closed .main-nav__toogle {
  background-image: url("../img/icon-menu-open.svg");
  background-position: center;
}

.main-nav__logo:hover {
  opacity: 0.6;
}

.main-nav__logo:active {
  opacity: 0.3;
}
