.order {
  margin-top: 23px;
  margin-bottom: 55px;
}

.order__wrapper {
  width: 260px;
  margin: 0 auto;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0 0 25px;
}
