.order {
  margin-top: 23px;
  margin-bottom: 55px;

  @media #{$tablet} {
    margin-top: 75px;
    margin-bottom: 50px;
  }

  @media #{$desktop} {
    margin-top: 122px;
  }
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
  margin: 0 0 25px;

  @media #{$tablet} {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  @media #{$desktop} {
    padding-right: 175px;
    padding-left: 175px;
    margin-bottom: 7px;
  }
}

.order__wrapper {
  @media #{$mobile-only} {
    width: 260px;
    margin: 0 auto;
  }
}

.order__content {
  @media #{$tablet} {
    width: 668px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    width: 1050px;
    margin: 0 auto;
  }
}
