.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $black;
}

.page-header__content {
  box-sizing: border-box;
  border-top: 1px solid $border-gray;
  min-height: 176px;
  background-color: $light-gray;

  @media #{$tablet} {
    margin-top: -60px;
  }

  @media #{$desktop} {
    min-height: 255px;
  }
}

.page-header__content--main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 488px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media #{$tablet} {
    min-height: 746px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
  }

  @media #{$desktop} {
    background-image: url("../img/hero-desktop@1x.jpg");
    min-height: 746px;
  }
}

.page-header__title {
  width: 255px;
  margin: 70px auto 40px;
  font-size: 26.5px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: center;

  @media #{$tablet} {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    margin-top: 95px;
    margin-bottom: 80px;
    letter-spacing: 0;
  }

  @media #{$desktop} {
    font-size: 53px;
    width: 700px;
    line-height: 57px;
  }
}

.page-header__categories {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @media #{$tablet} {
    flex-direction: row;
    width: 668px;
    height: 119px;
  }

  @media #{$desktop} {
    width: 1050px;
  }
}

.page-header__category {
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 29px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  color: $white;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
    flex-grow: 1;
    padding-top: 28px;
    padding-left: 34px;
  }
}

.page-header__category span {
  display: block;
  width: 130px;
  transition: opacity 0.3s ease;
}

.page-header__category--interior {
  background-color: $green;
}

.page-header__category--toys {
  background-color: $secondary-green;
}

.page-header__icon {
  position: absolute;
  right: 26px;
  top: 20px;
  width: 61px;
  height: 61px;
  fill: $icon-green;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.page-header__icon--interior {
  top: 23px;

  @media #{$tablet} {
    top: 30px;
  }
}

.page-header__icon--toys {
  @media #{$tablet} {
    top: 31px;
    right: 33px;
  }
}

.page-header__category:hover .page-header__icon {
  opacity: 0.7;
}

.page-header__category:active span {
  opacity: 0.3;
}

.page-header__category:active .page-header__icon {
  opacity: 0.3;
}

.page-header__title--main {
  margin-bottom: 122px;

  @media #{$tablet} {
    margin-top: 153px;
  }

  @media #{$desktop} {
    margin-top: 155px;
  }
}

.page-header::after {
  @media #{$tablet} {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: 768px 24px;
  }

  @media #{$desktop} {
    bottom: -17px;
    height: 34px;
    background-size: 1150px 34px;
  }
}
