.production {
  margin-bottom: 60px;
}

.production__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}

.production__title {
  position: relative;
  font-size: 17px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  padding-top: 24px;
  padding-left: 91px;
  padding-right: 20px;
  padding-bottom: 26px;
}

.production__icon {
  position: absolute;
  top: 30px;
  left: 34px;
  width: 32px;
  height: 32px;
  fill: #63d1bb;
}

.production__video {
  margin-bottom: 25px;
}

.production__video img {
  display: block;
}

.production__content {
  padding-right: 34px;
  padding-left: 34px;
}

.production__order {
  display: block;
  margin-bottom: 33px;
}

.production__description {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.production__wrapper:hover {
  box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.1);
}

.production__wrapper:active {
  box-shadow: 0 3px 5px 0 rgba($color: #000000, $alpha: 0.1);
}
