.reviews {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 50px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 320px 6px;

  @media #{$tablet} {
    width: 768px;
    padding-bottom: 85px;
    margin: 0 auto;
    background-size: 768px 17px;
  }

  @media #{$desktop} {
    width: 1050px;
    padding-bottom: 90px;
    background-size: 1050px 23px;
  }
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;

  @media #{$tablet} {
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 768px;
    min-height: 457px;
    padding-top: 79px;
    padding-right: 50px;
    padding-left: 46px;
    margin: 0 auto;
    background-color: $white;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media #{$desktop} {
    width: 1050px;
    padding-top: 72px;
    padding-right: 0;
    padding-left: 170px;
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $titles-color;
  margin-bottom: 24px;
  margin-top: 0;

  @media #{$tablet} {
    font-size: 43px;
    line-height: 50px;
    width: 335px;
  }

  @media #{$desktop} {
    font-size: 53px;
    line-height: 57px;
    width: 525px;
  }
}

.reviews__list {
  @media #{$tablet} {
    order: 3;
    width: 300px;
  }
}

.reviews__item {
  display: none;
  margin: 0 0 29px 0;

  @media #{$tablet} {
    margin-bottom: 50px;
  }
}

.reviews__item--show {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
  }
}

.reviews__toogle--disabled {
  cursor: not-allowed;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 30px;

  @media #{$tablet} {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin-bottom: 60px;
    padding-top: 24px;
    padding-left: 5px;
  }

  @media #{$desktop} {
    width: 800px;
    margin-bottom: 40px;
  }
}

.reviews__author {
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;

  @media #{$tablet} {
    font-size: 18px;
    letter-spacing: 0.2px;
    padding-left: 3px;
  }

  @media #{$desktop} {
    padding-left: 5px;
    letter-spacing: -0.5px;
  }
}

.reviews__nickname {
  color: $dark-gray;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
}

.reviews__toogles {
  display: flex;
  height: 52px;
  margin-bottom: 38px;

  @media #{$tablet} {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 175px;
    margin-bottom: 0;
  }

  @media #{$desktop} {
    right: 0;
    bottom: 100px;
  }
}

.reviews__toogle {
  position: relative;
  width: 50%;
  font-size: 0;
  border: 1px solid $border-gray;

  @media #{$tablet} {
    border: 0;
  }
}

.reviews__toogle::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  height: 100%;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease;

  @media #{$tablet} {
    left: 0;
    top: -3px;
  }

  @media #{$desktop} {
    top: 3px;
  }
}

.reviews__toogle--previous {
  border-right: none;
}

.reviews__toogle--next::after {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__add-review {
  width: 100%;

  @media #{$tablet} {
    order: 2;
    width: 173px;
  }

  @media #{$desktop} {
    margin-top: 8px;
  }
}

.reviews__toogle:hover::after {
  opacity: 0.6;
}

.reviews__toogle:active::after {
  opacity: 0.3;
}

.reviews__toogle.reviews__toogle--disabled::after {
  opacity: 0.2;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  @media #{$tablet} {
    .reviews__wrapper {
      background-image: url("../img/review@2x.jpg");
    }
  }
}
