.site-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media #{$tablet} {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    width: 310px;
  }

  @media #{$desktop} {
    order: 1;
    width: 430px;
  }
}

.site-list__link {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 26px;
  color: $black;
  transition: opacity 0.3s ease;
  border-top: 1px solid $border-gray;
  text-decoration: none;

  @media #{$tablet} {
    font-size: 15px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 18px;
    padding-bottom: 0;
    background-color: transparent;
    border-top: 0;
  }

  @media #{$desktop} {
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__item--new,
.site-list__item--sale {
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.site-list__item:nth-of-type(odd) {
  @media #{$tablet-only} {
    margin-right: 24px;
  }

  @media #{$desktop} {
    width: 184px;
  }
}

.site-list__item {
  @media #{tablet-only} {
    width: 143px;
  }
}

.site-list__item:nth-of-type(even) {
  @media #{$desktop} {
    padding-left: 35px;
  }
}

.site-list__item:first-of-type {
  @media #{$desktop} {
    border-right: 1px solid $border-gray;
  }
}

.site-list__item:nth-of-type(n+3) a {
  @media #{$desktop} {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 0;
    padding-top: 18px;
  }
}
