.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  min-height: 80px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  padding: 20px;
}

.social__icon {
  fill: $black;
  transition: 0.3s ease;
}


.social__link:hover .social__icon {
  fill: $link-green;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

// tablet
@media (min-width: 768px) {
  .social__list {
    justify-content: flex-start;
    min-height: 80px;
  }
}
