.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-list__link {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 26px;
  color: #000000;
  transition-property: opacity, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border-top: 1px solid #ececec;
}

.user-list__item--search,
.user-list__item--basket {
  position: relative;
}

.user-list__icon-basket,
.user-list__icon-search {
  position: absolute;
  left: 30px;
  top: 30px;
  fill: rgba(0, 0, 0, 0.2);
}

.user-list__icon-search {
  width: 18px;
  height: 18px;
}

.user-list__icon-basket {
  width: 21px;
  height: 18px;
}

.user-list__link:hover {
  color: rgba($color: #000000, $alpha: 0.6);
}

.user-list__link:hover svg {
  fill: #63d1bb;
}

.user-list__link:active {
  opacity: 0.3;
}
