.user-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 2;
    width: 352px;
    height: 88px;
  }

  @media #{$desktop} {
    order: 3;
    width: 430px;
  }
}

.user-list__link {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 26px;
  color: $black;
  transition-property: opacity, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border-top: 1px solid $border-gray;

  @media #{$tablet} {
    border-top: 0;
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: transparent;
  }
}

.user-list__item--search,
.user-list__item--basket {
  position: relative;
}

.user-list__icon-basket,
.user-list__icon-search {
  position: absolute;
  left: 30px;
  top: 30px;
  fill: rgba($black, 0.2);
}

.user-list__icon-search {
  width: 18px;
  height: 18px;
}

.user-list__icon-basket {
  width: 21px;
  height: 18px;
}

.user-list__link--delivery {
  font-weight: 400;
}

.user-list__link:hover {
  color: rgba($black, 0.6);
}

.user-list__link:hover svg {
  fill: $green;
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__item--delivery {
  @media #{$mobile-only} {
    display: none;
  }
}

// tablet

.user-list__item:first-of-type {
  @media #{$tablet} {
    width: 84px;
    border-right: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
  }
}

.user-list__item:first-of-type a {
  @media #{$tablet} {
    font-size: 0;
    line-height: 0;
  }
}

.user-list__item--basket a {
  @media #{$tablet} {
    padding-left: 82px;
  }
}

.user-list__item:nth-of-type(n+3) a {
  @media #{$tablet} {
    font-size: 15px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 0;
  }
}

